.element-item{padding:.3em .8em .3em .8em;vertical-align:top;}
.element-item:hover { background-color:white; }
.element-item a{text-decoration: none !important; color: inherit;}
.element-sum{line-height:1.1em;text-align:left; margin-left:1.5em;font-size:96%;font-style:italic}
.element-new{padding:.3em .8em .3em .8em;vertical-align:top;}
.group{font-size:15px;display:inline-table;margin:0.3em 0em .2em .5em;background-color:rgb(231, 231, 233);width:100%;}
.group-item{ font-weight:bold;padding:.5em .5em .5em .5em;background-color:rgb(218, 218, 202);}
.group-btns{float:right;}
.display-btns{float:right;}

